<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
 
</head>
<body>
    <div id="app">
<h2>All Payments</h2>
  <ul>
    <li v-for="payment in payments">
        <p>
            {{payment.name}} ({{payment.amount}})
            
        </p>
    </li>
  </ul>

  <h2>Unpaid Payments</h2>
  <ul>
    <li v-for="payment in  unpaidPayments">
        <p>
            {{payment.name}} ({{payment.amount}})
            
        </p>
    </li>
  </ul>

  <p>total Amount {{totalAmount}}</p>
  <input type="text" v-model="newSkill">
  <button @click="addNewSkill()">add</button>
    </div>
   <script src="index.js"></script>  
    <script>
        // const app = new Vue({
        //     el:"#app",
        //     data:{
        //         name: "Mahi"
        //     }
        // })
        const app = new Vue({
            el:"#app",
          data:{
            payments:[
                {name:houseRent, amount:15000,paid:true},
                {name:water, amount:1000,paid:false},
                {name:net, amount:500,paid:true},
                {name:gesh, amount:300,paid:false},
                {name:electricity, amount:15000,paid:true} , 
                
            ]
          },
          computed:{
            unpaidPayments: function(p){ //p = payment 
                return this.payments.filter(function(){
                    return !p.paid; //whitch is unpaid 
                });
            },
            totalAmount: function(){
                let sum = 0;
                for(let i = 0; i< this.payments.length; i++){
                    sum = sum + this.payments[i].amount
                }
                return sum;
            }
          }
        })
    </script>
</body>
</html>