<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
 
</head>
<body>
    <div id="app">
    <ul >
        <li v-for="(skill,i) in skills " v-if="skill.experience > 3">
             <p>{{i}} {{skill.name}} {{skill.experience}}</p>  
        </li>
    </ul>


    </div>
   <script src="index.js"></script>  
    <script>
        // const app = new Vue({
        //     el:"#app",
        //     data:{
        //         name: "Mahi"
        //     }
        // })
        const app = new Vue({
            el:"#app",
          data:{
            skills:[
                {name:"HTML" , experience:5},
                {name:"CSS", experience:4},
                {name:"JS" ,experience:2},
                {name:"php",experience:1}]
          }
        })
    </script>
</body>
</html>