<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
 
</head>
<body>
    <div id="app">
  <ul>
    <li v-for="(skill,i) in skills">
        <p>
            {{skill}}
        </p>
    </li>
  </ul>
  <input type="text" v-model="newSkill">
  <button v-on:click="addNewSkill()">add</button>
    </div>
   <script src="index.js"></script>  
    <script>
        // const app = new Vue({
        //     el:"#app",
        //     data:{
        //         name: "Mahi"
        //     }
        // })
        const app = new Vue({
            el:"#app",
          data:{
            newSkill:"",
            skills:["HTML", "CSS", "JS"]
          },
          methods:{
            addNewSkill : function(){
                this.skills.push(this.newSkill); // newskill will be added in skills 
                this.newSkill = " ";
            }
          }
        })
    </script>
</body>
</html>